* {
    highlight: bold italic;
    scrollbar: true;

    everforest-bg:           #232A2E;
    everforest-bg1:          #2D353B;
    everforest-bg2:          #343F44;
    everforest-fg:           #D3C6AA;
    everforest-red:          #E67E80;
    everforest-green:        #A7C080;
    everforest-yellow:       #DBBC7F;
    everforest-orange:       #E69875;
    everforest-blue:         #7FBBB3;
    everforest-magenta:      #D699B6;
    everforest-cyan:         #83C092;
}

@import "common"
