* {
    font-family: JetBrainsMono Nerd Font Propo, sans-serif;
    font-size: 12px;
    color: #D3C6AA;
}

#waybar {
    background-color: #232A2E;
}

.modules-left,
.modules-center,
.modules-right {
    padding: 0px 20px;
}

#workspaces button:hover,
#taskbar button:hover {
    background: none;
    transition: none;
    box-shadow: none;
}

#workspaces button {
    padding: 0px 5px;
}

#power-profiles-daemon.performance {
    color: #D699B6;
}

#battery.warning {
    color: #E69875;
}

#custom-power:hover,
#battery.critical,
#wireplumber.muted,
#bluetooth.on,
#network.disconnected,
#custom-drepos.dirty,
#custom-pcheck.unlogged {
    color: #E67E80;
}

#power-profiles-daemon.power-saver,
#bluetooth.connected,
#battery.charging,
#battery.plugged {
    color: #A7C080;
}
