* {
    font-family: JetBrainsMono Nerd Font Propo, sans-serif;
    font-size: 12px;
    color: #C1C1C1;
}

#waybar {
    background-color: #000000;
}

.modules-left,
.modules-center,
.modules-right {
    padding: 0px 20px;
}

#workspaces button:hover,
#taskbar button:hover {
    background: none;
    transition: none;
    box-shadow: none;
}

#workspaces button {
    padding: 0px 5px;
}

#power-profiles-daemon.performance {
    color: #FF7A84;
}

#battery.warning {
    color: #ffab70;
}

#custom-power:hover,
#battery.critical,
#wireplumber.muted,
#bluetooth.on,
#network.disconnected,
#custom-drepos.dirty,
#custom-pcheck.unlogged {
    color: #f97583;
}

#power-profiles-daemon.power-saver,
#bluetooth.connected,
#battery.charging,
#battery.plugged {
    color: #7CB342;
}
